// @import "@angular/material/prebuilt-themes/indigo-pink.css";
// @import "@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "@angular/material/prebuilt-themes/purple-green.css";
@import "material-icons/iconfont/material-icons.css";
@import "_base.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-size: $baseUnit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}
